/* Navbar */
#nav {
    background-color: black;
    
}

nav a {
    margin-left: 20px;
}
.offcanvas {
    background-color: #3F3E45;
    height: 300px;
    border-radius: 12px;
}

#offcanvasNavbar hr {
    color: whitesmoke;
    width: 150px;
    margin: 15px;

}