

/* Navbar */
#nav {
    background-color: black;
    
}

nav a {
    margin-left: 20px;
}
.offcanvas {
    background-color: #3F3E45;
    height: 300px;
    border-radius: 12px;
}

/* Hero section */
.callout-container {
    background-image: url("../images/networkimage.webp");
    height: 60vh;
   
   
}